<h1>Artists for <%= @shop.name %></h1>



<% for artist in @artists %>
<div style="padding:10px; margin:10px; border:1px dashed #333;">
    <b>Name:</b> <%=h artist.name %>
    <p>
      <b>Bio:</b>
      <br/> <%=h artist.bio %>
    </p>
    
    <%= link_to 'Show', shop_artist_path(@shop, artist) %>
    | <%= link_to 'Edit', edit_shop_artist_path(@shop, artist) %>
    | <%= link_to 'Destroy', shop_artist_path(@shop, artist),
            :confirm => 'Are you sure?', :method => :delete %>
</div>
<% end %>

<br />

<%= link_to 'New artist', new_shop_artist_path(@shop) %>
<%= link_to 'Back to Shop', @shop %>
