<% form_for @shop do |f| %>
  <%= f.error_messages %>

  <div class="right-half">
    
    <fieldset>
      <%= f.label :desc %><br />
      <%= f.text_area :desc %>
    </fieldset>
    
    <fieldset>
      <%= f.label :hours %><br />
      <%= f.text_area :hours %>
    </fieldset>    
  </div>
  
  <div class="left-half">
    <fieldset>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </fieldset>
    
    <fieldset>
      <%= f.label :phone %><br />
      <%= f.text_field :phone %>
    </fieldset>
    
    <fieldset>
      <%= f.label :address %><br />
      <%= f.text_area :address %>
    </fieldset>

    <fieldset>
      <%= f.submit "Update" %>
    </fieldset>
  </div>
<% end %>

