
<ul class="artists-list">
  <li>Show Tattoos From: </li>
  <li><%= link_to 'All Artists', shop_tattoos_path(@shop), :class => 'do-artist-tattoos active' %></li>
  <% for artist in @shop.artists %>
    <li><%= link_to "#{artist.name}", artist_tattoos_path(artist), { :class => 'do-artist-tattoos', :rel => artist.id } %></li>
  <% end %>
</ul>    	


<div class="gallery-scroller">
  <ul id="mycarousel" class="jcarousel-skin-tango">
    <%= render :partial => @shop.tattoos %>
  </ul>
</div>

<div class="gallery-full">
  <div class="gallery-contents s-js-contents"> 
    <a href="#"  id="show" class="toggle-details show">View Details</a>
    <div id="details" class="gallery-body">
      <a href="#" id="hide" class="toggle-details hide">[-]</a>
      <div class="s-js-details">
        <h2><%= @shop.name %></h2>
        <p><%= @shop.desc %></p>
        <span id="assets">
        <% for asset in @shop.assets %>
          <%= image_tag asset.url(:thumb) %>
        <% end %>
        </span>
      </div>
    </div>
    <div class="gallery-images">
      <%= image_tag @shop.assets.first.url(:gallery) unless @shop.assets.first.nil? %>
    </div>
  </div>
</div>
