
<div id="tab-assets" class="tab-content">  
  <ul class="asset-actions">
    <li>Total assets: <%= @assets.count %></li>
    <li><%= link_to 'Refresh', assets_path, :class => 'refresh-assets' %></li>
  </ul>

  <ul id="assets-wrapper" class="selectable">
  <% for asset in @assets %>
    <li>
      <%= image_tag asset.url(:thumb), {:id => "asset_#{asset.id}",:class => 'drag-asset is-new', :title => "attached to #{asset.attachings_count} profiles" } %>
    </li>
  <% end %>
  </ul>
</div>

<div id="tab-tattoos" class="tab-content">
  <ul class="artists-list">
    <li><%= link_to 'All Artists', shop_tattoos_path(@shop), :class => 'do-artist-tattoos active' %></li>
    <% for artist in @shop.artists %>
      <li><%= link_to "#{artist.name}", artist_tattoos_path(artist), { :class => 'do-artist-tattoos', :rel => artist.id } %></li>
    <% end %>
  </ul> 
  <ul class="tattoos-wrapper"></ul>
</div>

<div id="tab-artists" class="tab-content">
  <%= render :partial => "artists/admin_artist", :collection => @shop.artists %>
</div>

<div id="tab-shop" class="tab-content">
  <%= render :partial => "shops/admin_shop", :locals => { :admin_shop => @shop } %>
</div> 


<br style="clear:both"/>
