
<div id="tab-assets" class="tab-content">  
  <h6>Drag and arrange images into the workspace where they can be added to a selected profile.</h6>
  
  <ul class="selectable-actions">
    <li>Total assets: <%= @assets.count %></li>
    <li><%= link_to 'Add Assets', new_shop_asset_path(@shop), :rel => 'facebox' %></li>
    <li><%= link_to 'Refresh', shop_assets_path(@shop), :class => 'refresh-assets' %></li>
  </ul>

  <ul id="assets-wrapper" class="selectable">
  <% for asset in @assets %>
    <li>
      <%= image_tag asset.url(:thumb), {:id => "asset_#{asset.id}",:class => 'drag-asset'} %>
      <br/>has:  <%= asset.attachings_count %>
    </li>
  <% end %>
  </ul>
</div>

<div id="tab-tattoos" class="tab-content">
  <h6>Drag a tattoo profile into the workspace to edit and add images.</h6>
  <%= link_to 'Add Tattoo', new_shop_tattoo_path(@shop), :rel => 'facebox' %>
  
  <ul class="artists-list">
    <li><%= link_to 'All Artists', shop_tattoos_path(@shop), :class => 'do-artist-tattoos active' %></li>
    <% for artist in @shop.artists %>
      <li><%= link_to "#{artist.name}", artist_tattoos_path(artist), { :class => 'do-artist-tattoos', :rel => artist.id } %></li>
    <% end %>
  </ul> 
  <ul class="tattoos-wrapper">
  </ul>
</div>

<div id="tab-artists" class="tab-content">
  <h6>Drag an artist profile into the workspace to edit and add images.</h6>
  <%= link_to 'Add Artist', new_shop_artist_path(@shop), :rel => 'facebox' %>
  <br/>
  <%= render :partial => "artists/admin_artist", :collection => @shop.artists %>
</div>

<div id="tab-shop" class="tab-content">
  <h6>Drag your shop profile into the workspace to edit and add images.</h6>
  <%= render :partial => "shops/admin_shop", :locals => { :admin_shop => @shop } %>
</div> 


<br style="clear:both"/>
