
<div id="tab-tattoos" class="tab-content">
  <div style="width:150px;margin-bottom:10px;" class="buttons">
    <%= link_to 'Add More Tattoos', new_tattoo_path, {:class => 'new-profile tattoos_new positive' } %>
  </div>
  <%= link_to 'Show All', shop_tattoos_path(@shop), :class => 'refresh-tattoos' %>
   or filter by artist:
  <ul class="artists-list">
    <% for artist in @shop.artists %>
      <li><%= link_to "#{artist.name}", artist_tattoos_path(artist) %></li>
    <% end %>
  </ul> 
  <ul class="tattoos-wrapper">&#160;</ul>
</div>

<div id="tab-artists" class="tab-content">
  <div style="width:150px;margin-bottom:10px;" class="buttons">
    <%= link_to 'Add More Artists', new_artist_path, {:class => 'new-profile artists_new positive' } %>
  </div>
  <%= link_to 'Refresh Artists', "#{shop_artists_path(@shop)}.json", :class => 'refresh-artists' %>
  <div class="artists-wrapper">
  <% if @shop.artists.empty? %>
    No artists found.
  <% else %>
    <%= render :partial => "artists/admin_artist", :collection => @shop.artists %>
  <% end %>
  </div>
</div>

<div id="tab-shop" class="tab-content">
  <%= render :partial => "shops/admin_shop", :locals => { :admin_shop => @shop } %>
</div>

<div id="tab-help" class="tab-content">
  <h2 style="font-weight:bold">Help Guide</h2>
  <p style="font-weight:bold">
    Your tastyink admin panel does 2 things:
     1) <span style="background:#ffffcc">Uploads and organizes IMAGES.</span> 
     2) <span style="background:#ffffcc">Creates and organizes PROFILES.</span> 
  </p>

  <h2 style="font-weight:bold">Working With Images:</h2>
  <div style="margin-left:20px;">
    <p style="width:50%">
      Images exist separately from everything else on tastyink. You can upload images
      without needing to specify an artist or tattoo. 
      The <b>Image Manager</b> holds all your images as a collection for you to work with at any time. 
    </p>
    
    <h5>Uploading Images.</h5>
    <p style="width:50%">
      Upload images anytime by clicking on the orange <b>"Upload More Images"</b> button at the bottom of the page.
      Images are automatically resized and thumbnailed for your convenience.
    </p>
    
    <h5>Adding Images to A Profile's Album.</h5>
    <p style="width:50%">
      When creating or editing a profile a rectangular <b>"album container"</b> will present itself.
      Using the image thumbnails within your <b>Image Manager</b>, you can drag and drop
      images into the <b>"album container"</b>. Click <b>"Save Profile"</b> to save the images to the album.
    </p>

    <h5>Removing Images From A Profile's Album.</h5>
    <p style="width:50%">
      When creating or editing a profile a rectangular <b>"album container"</b> will present itself.
      To remove images from the profile album, simply drag and drop the image thumbnail
      into the trashcan at the top right of the page. Images are automatically removed, no saving is required.
    </p>
            
  </div>
    
  <h2 style="font-weight:bold">Working With Profiles:</h2>
  <div style="margin-left:20px;">
    <p style="width:50%">
      Profiles are what your users see when viewing your portfolio.
      You can have one shop profile, many artist profiles, and many tattoo profiles.
      
      Profiles contain data such as name, description, creation date, and
      tags. All profiles also have an image album.
      You can "attach" images you upload to a profile by dragging them into the profile's <b>"album container"</b>. 
      
      Note that images are NOT deleted when a profile is deleted, only the association is removed.
    </p>
    
    <h5>Shop Profile.</h5>
    <p style="width:50%">
      Your shop profile is the first thing a customer sees on your portfolio.
      You can display your name, description, hours of operation, and address.
      The shop image album is ideal for showcasing your shop's premises. 
    </p>  
    <h5>Artist Profiles.</h5>
    <p style="width:50%">
      Artist profiles are displayed whenever a customer clicks on the artist's name.
      <br/>You can specify a brief bio or highlight awards and/or specialties.
      <br/>The artist image album can be used to give a personal, human feel to your artists.
    </p>
    
    <h5>Tattoo Profiles.</h5>
    <p style="width:50%">
      Tattoo profiles are used to showcase tattoos done by your artists.
      Every tattoo profile must belong to an artist.
      The tattoo profile can specify a title, and short description of the work.
      The tattoo image album is used to display the tattoo. 
      <br/>Note that many images can fit into the album and represent the same tattoo.
    </p>
    
    <h5>Adding, Editing, &amp; Deleting Profiles.</h5>
    <p style="width:50%">
      <b>To add</b> an artist or tattoo profile, 
      navigate to the profile's respective tab and click on the top green <b>"Add More Tattoos"</b> or <b>"Add More Artists"</b> buttons.
    </p>
    <p style="width:50%">
      <b>To edit</b> a profile, navigate to the appropriate tab and click on the image of the profile
      you want to edit. An edit box appears..
    </p>
    <p style="width:50%">
      <b>To delete</b> a profile, navigate to the appropriate tab and click and hold on the image of the profile
      you want to delete;
      while holding you can drag the profile into the trashcan at the top right of the page.
    </p> 
  </div>
  
  
  (If you need more help, feel free to email me: <a href="mailto:plusjade@gmail.com">plusjade@gmail.com</a>)  
</div>






