<ul id="profile-assets-wrapper" class="selectable">
<% for asset in @tattoo.assets %>
  <li>
  <%= image_tag asset.url(:thumb) %>
  <%= link_to 'detach', "#{tattoo_path(@tattoo)}/detach?asset=#{asset.id}"%>
  </li>
<% end %>
</ul>

<% form_for @tattoo do |f| %>
  <%= f.error_messages %>

  <fieldset>
    <%= f.label :title, "title" %><br />
    <%= f.text_field :title %>
  </fieldset>
  <fieldset>
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </fieldset>
  
    
  <fieldset>
    <%= f.submit "Save" %>
  </fieldset>
  
<% end %>
