
<h2>Add Tattoo<h2>

<% form_for @tattoo, :url => tattoos_path do |f| %>
  <%= f.error_messages %>

  <div class="left-half">
    <fieldset>
      <%= f.label :title, "Title" %><br />
      <%= f.text_field :title %>
    </fieldset>
      
    <fieldset>
      Artist: <%= f.select(:artist_id, @shop.artists.collect {|a| [ a.name, a.id ] } ) %>
    </fieldset>
    
    <fieldset>
      <%= f.label :desc, 'Description' %><br />
      <%= f.text_area :desc %>
    </fieldset>
    

    <fieldset>
      <%= f.submit "Save" %>
    </fieldset>
  </div> 
  
<% end %>
<br style="clear:both"/>


