<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Online portfolio service for tattoo shops and artists</title>
  <%= stylesheet_link_tag "global", "admin" %>
  <%= javascript_include_tag "jquery-1.4.2.min", "admin/jquery-ui.min", "addon", "facebox/facebox", "admin/init" %>   
</head>
<body>
  <div id="wrapper">
    
    <div style="margin:10px auto">
      <ul class="add-links">
        <li><%= link_to 'Add Images', new_asset_path, :rel => 'facebox' %></li>
        <li><%= link_to 'View Public Profile', shop_path(@shop), :target => '_blank' %></li>
        <li><%= link_to 'Account', account_path %></li>
        <li><%= link_to 'Logout', '/user_sessions/destroy' %></li>
      </ul>

      <div class="workspace-wrapper">
        <div class="working-profile">
          <span>Load New Profile <br/>OR<br/>Drag existing profile here</span>
        </div>
        <ul class="workspace-toolbar">
          <li class="save"><a href="#" class="attach-assets disable">Save profile</a></li>
          <li class="edit"><a href="#" class="edit-profile disable">Edit profile</a></li>
          <li class="clear"><a href="#" class="clear-assets disable">Clear unsaved images</a></li>
          <li><%= link_to 'New Tattoo', new_tattoo_path, :class => 'tattoos_new' %></li>
          <li><%= link_to 'New Artist', new_artist_path, :class => 'artists_new' %></li>
        </ul>
        <div class="working-assets"></div>
        <div class="trashcan"></div>
      </div>
    </div>
    
    <div style="padding-left:20px;margin-top:20px;">
      <ul class="main-tabs">
        <li><a href="#assets" class="active" rel="tab-assets">Images</a></li>
        <li><a href="#tattoos" rel="tab-tattoos">Tattoos</a></li>
        <li><a href="#artists" rel="tab-artists">Artists</a></li>
        <li><a href="#shop" rel="tab-shop">Shop</a></li>
      </ul> 
    </div>

    <div id="top-container">
      <div class="submitting" style="display:none">Submitting..</div>
      <div class="responding"></div>
      <%= yield :top_msg %>
    </div>  
        
    <div id="content_out">
      <div id="content">
        <%= yield %>
      </div>
    </div>
   
    <div id="footer">
  		<p>&copy; 2010 Tastyink.com</p>
    </div>
    
  </div> 
  
  <script type="text/javascript">
    function tattoosTemplate(t){return '<%= admin_tattoos_template %>'};
    function assetsWorkTemplate(a){return '<%= admin_working_template %>'};
    function assetsReTemplate(a){return '<%= admin_resource_template %>'};
    $(document).ready(function(){  
      $('ul.main-tabs li a:first').click();
      $(document).trigger('draggableAssets');
      $(document).trigger('workingAssetsSortable');
      $(document).trigger('draggableProfiles');
      $('a[rel*=facebox]').facebox();
      $('ul.artists-list li a:first').click();
    });
  </script>
</body>
</html>
