<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Online portfolio service for tattoo shops and artists</title>
  <%= stylesheet_link_tag "global", "admin" %>
  <%= javascript_include_tag "jquery-1.4.2.min", "admin/jquery-ui.min", "addon", "facebox/facebox", "swfupload/swfupload", "admin/init" %>   
</head>
<body>
  <div id="wrapper">

    <table class="top-bar">
      <tr>
        <td style="width:250px">
          <ul class="add-links">
            <li><%= link_to 'Account', account_path %></li>
            <li><%= link_to 'View Public Profile', shop_path(@shop), :target => '_blank' %></li>
            <li><%= link_to 'Logout', '/user_sessions/destroy' %></li>
          </ul>        
        </td>
        <td class="status">
          <div class="submitting" style="display:none">Submitting..</div>
          <div class="responding"></div>
        </td>
        <td class="super-trash" style="width:100px; text-align:center;">Trashcan</td>
      </tr>
    </table> 
        

     
    <ul class="main-tabs">
      <li><a href="#tattoos" class="active" rel="tab-tattoos">Tattoo Profiles</a></li>
      <li><a href="#artists" rel="tab-artists">Artist Profiles</a></li>
      <li><a href="#shop" rel="tab-shop">Shop Profile</a></li>
      <li><a href="#help" rel="tab-help">[help]</a></li>
      <!--<li class="super-trash">Trashcan<br/>Drop profiles here to delete them.</li>-->
    </ul> 

    <div id="top-container"></div>  
        
    <div id="content_out">
      <div id="content">
        <%= yield %>
        <br/ style="clear:both"> 
      </div>
    </div>
   
    <div id="footer">
  		<p>&copy; 2010 Tastyink.com</p>
    </div>
  </div> 

  <!-- the workspace -->
  <div id="the-workspace" class="workspace-wrapper">
    <div class="working-profile" style="display:none">&#160;</div>
    <div class="buttons" style="float:right">
      <a href="#" class="save-profile positive">Save Profile</a>
    </div>
    <h5>Profile Album - Drag new images from your image manager into your album.</h5>
    <div><b>NOTE:</b> Adding or rearranging images are not saved until you explicitly press <b>Save Profile</b>!</div>
    <div class="working-assets">&#160;</div>
    <a href="#" class="edit-details">Show Details</a>
    <div class="working-details">&#160;</div>
  </div>
  
  <!-- the asset panel -->  
  <div class="asset-panel">
    <div class="actions"> 
      <a href="#" class="toggle hide">[hide]</a>
      <a href="#image" class="show">Show Images</a>
      <a href="#upload" class="show upload">Upload More Images</a>
    </div> 
    <div class="content-window-wrapper"> 
      <div class="content-window">

        <div id="upload-tab" class="asset-content" style="display:block">
          <%= render :file => 'assets/new', :locals => { :asset => Asset.new }  %>
        </div>
        
        <div id="image-tab" class="asset-content">
          <ul class="asset-actions">
            <li><%= link_to 'Refresh', assets_path, :class => 'refresh-assets' %></li>
          </ul>

          <ul class="assets-wrapper" class="selectable">
            &#160;
          </ul>
        </div>
 
      </div>
      
    </div>
  </div>
        
  <script type="text/javascript">
    function tattoosTemplate(t){return '<%= admin_tattoos_template %>'};
    function artistsTemplate(a){return '<%= admin_artists_template %>'};
    function assetsWorkTemplate(a){return '<%= admin_working_template %>'};
    function assetsReTemplate(a){return '<%= admin_resource_template %>'};
    $(document).ready(function(){  
      $('ul.main-tabs li a:first').click();
      $('a.refresh-tattoos').click();
      $('a.refresh-assets').click();
      $(document).trigger('draggableAssets');
      $(document).trigger('draggableProfiles');
      $(document).trigger('superTrash');
      $('a[rel*=facebox]').facebox();
      toggleImagePane('close');
      $(document).trigger('ajaxify.form');
    });
  </script>
</body>
</html>
