<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Online portfolio service for tattoo shops and artists</title>
  <%= stylesheet_link_tag "global", "admin" %>
  <%= javascript_include_tag "jquery-1.4.2.min", "addon", "jquery-ui.min", "facebox/facebox" %>   
</head>
<body>
  <div id="wrapper">
    
    <div style="margin:10px; auto; order:1px solid #ccc;">
        <h3 style="text-align:center">Workspace</h3>


      <div class="workspace-wrapper">
        <ul class="workspace-toolbar">
          <li><a href="#" class="attach-assets">save images</a></li>
          <li><a href="#" class="clear-assets">clear images</a></li>
          <li><a href="#" class="edit-profile">edit profile</a></li>
          <li><a href="#">delete profile</a></li>
        </ul>
        <div class="working-profile">
          <h6>Profile</h6>
          <span>Drag existing profile here<br/>OR<br/> create new</span>
        </div>
        <ul class="working-assets">
        </ul>
      </div>
    </div>
    
    <div style="padding-left:20px;margin-top:20px;">
      <ul class="main-tabs">
        <li><a href="#assets" class="active" rel="tab-assets">Images</a></li>
        <li><a href="#tattoos" rel="tab-tattoos">Tattoos</a></li>
        <li><a href="#artists" rel="tab-artists">Artists</a></li>
        <li><a href="#shop" rel="tab-shop">Shop</a></li>
      </ul> 
    </div>

    <div id="top-container">
      <div class="submitting" style="display:none">Submitting..</div>
      <div class="responding"></div>
      <%= yield :top_msg %>
    </div>  
        
    <div id="content_out">
      <div id="content">
        <%= yield %>
      </div>
    </div>
   
    <div id="footer">
  		<p>&copy; 2010 Tastyink.com</p>
    </div>
    
  </div> 
  
  
<script type="text/javascript">
  function tattoosTemplate(t){return '<%= js_tattoos_template %>'};
  function assetsTemplate(a){return '<%= js_assets_template %>'};
  
  $('a[rel*=facebox]').facebox();
  
// activate tab navigation
  $('ul.main-tabs li a').click(function(){
    $('div.tab-content').hide();
    $('ul.main-tabs li a').removeClass('active');
    $(this).addClass('active');
    $('div#'+ $(this).attr('rel')).show();
    return false;
  });
  $('ul.main-tabs li a:first').click();
  

// working profile is droppable
  $(".working-profile").droppable({
    accept: '.drag-profile',
    activeClass: 'ui-state-highlight',
    hoverClass: 'drophover',
    tolerance: 'touch',
    drop: function(e, ui) {
      $('span', this).html($(ui.draggable).html());
    }
  }); 
  
// working assets container is droppable
  $("ul.working-assets").droppable({
    accept: '.drag-asset',
    activeClass: 'ui-state-highlight',
    hoverClass: 'drophover',
    tolerance: 'touch'
  });
 
// working assets are sortable.
  $("ul.working-assets").sortable({
    items: 'img',
    forceHelperSize: true,
    forcePlaceholderSize: true,
    placeholder: 'sortable-placeholder'
  });

// assets are draggable
  $("ul#assets-wrapper li img").draggable({
    appendTo: 'body',
    stack: "ul.assets-wrapper li img",
    zIndex: 2700,
    revert: true,
    helper: 'clone',
    connectToSortable: 'ul.working-assets'
  });
  
// shop/artists profiles are draggable.  
  $(".drag-profile").draggable({
    appendTo: 'body',
    handle: 'img',
    stack: ".drag-profile",
    zIndex: 2700,
    revert: true
  });  
  
  
// tattoo profiles are loadable.  
  $('ul.artists-list li a').click(function(){ 
    $('ul.tattoos-wrapper').empty();
    $.get(this.href + '.json',function(rsp){
      $.each(rsp, function(){
        if (this.tattoo.assets.length <= 0) return;
        $('ul.tattoos-wrapper').append(
        '<li class="drag-profile" rel="'+ this.tattoo.id +'">' + tattoosTemplate(this.tattoo) + this.tattoo.title + '</li>'
        );
      });
      // tattoo profiles are draggable.
      $("ul.tattoos-wrapper li").draggable({
        appendTo: 'body',
        handle: 'img',
        stack: "ul.tattoos-wrapper li",
        zIndex: 2700,
        revert: true
      });
    });
    return false;
  });



      
      
// delegations 
  $('body').click($.delegate({
    'ul.tattoos-wrapper a' : function(e){
      console.log(e.target.href);
      return false;
    },
      'ul.tattoos-wrapper a img' : function(e){
        $(e.target).parent('a').click();
        return false;
      },
      
    // detach command
    'ul#profile-assets-wrapper a' : function(e){
      $(document).trigger('submitting'); 
      $.getJSON(e.target.href, function(rsp){
        $(document).trigger('responding', rsp);
        $(e.target).parent().remove();
      });
      return false;
    }
      
  }));


// edit a profile

  $('a.refresh-assets').click(function(){
    $('ul#assets-wrapper').empty();
    $.getJSON(this.href + '.json', function(rsp){
      $.each(rsp, function(){
        $('ul#assets-wrapper').append(assetsTemplate(this.asset));
      });
      
    });
    
    console.log('works');
    return false;
  });
  
  
  $('a.edit-profile').click(function(){
		var profile = $('div.working-profile img').attr('id');
		if(undefined == profile){
		  alert('Add a profile to the workspace'); return false
		};
		profile = profile.split('_');
		//console.log(profile); return false;
    $.facebox(function() {
      $.get('/' + profile[0] + '/' + profile[1] + '/edit',
        function(data) { $.facebox(data) });
    });
    return false;
  });
  
  
// save assets-to-profile attachments.
  $('a.attach-assets').click(function(){
		var profile = $('div.working-profile img').attr('id');
		if(undefined == profile){
		  alert('Add a profile to the workspace'); return false
		};
		
		var ids = [];
		$("ul.working-assets img").each(function(){
		  ids.push(this.id.replace('asset_',''));
    });
    if(ids.length <= 0){
      alert('Add images to the workspace'); return false;
    }
    profile = profile.split('_');
    //console.log(profile); console.log(ids); return false;
    $(document).trigger('submitting');
    $.get('/' + profile[0] + '/' + profile[1] + '/attach',
      $.param({asset: ids}),
      function(rsp){
        $(document).trigger('responding', rsp);  
    });
    return false;
  });
  
// clear the working assets
  $('a.clear-assets').click(function(){
    $('ul.working-assets').empty();
    return false;
  });
 
// bind facebox functions  
  $(document).bind('reveal.facebox', function(){
    //$('body').addClass('disable_body').attr('scroll','no');
    $(document).trigger('ajaxify.form');
  });

/* Bind functions to the CLOSE facebox event. */  
  $(document).bind('close.facebox', function() {
    //$('body').removeClass('disable_body').removeAttr('scroll');
  });
   
 
 
/* ajaxify the forms */
  $(document).bind('ajaxify.form', function(){
    $('form').ajaxForm({     
      beforeSubmit: function(fields, form){
        if(! $("input", form[0]).jade_validate() ) return false;

        if('no_disable' != $(form[0]).attr('rel'))
          $('button', form[0])
          .attr('disabled','disabled')
          .removeClass('jade_positive');
        
        $(document).trigger('submitting');
      },
      success: function(rsp) {
        console.log(rsp);
        $('.facebox form button')
        .removeAttr('disabled')
        .addClass('jade_positive');
        $(document).trigger('responding', rsp);
      }
    });
  });
    
/*
// selectable list entries
  $(".selectable").selectable({
    filter : 'li',
    stop: function(event, ui) {
      var count = 0;
			$(".ui-selected", this).each(function(){
				count += 1;
	    });
	    console.log(count + ' items');
    }  
  });
*/

 
/* admin environment 
  -------------------------------
*/
/* show the submit ajax loading graphic. */
  $(document).bind('submitting', function(){
    $('#top-container .responding.active').remove();
    $('#top-container .submitting').show();
  });

/* show the response (always json) */
  $(document).bind('responding', function(e, rsp){
    var status = (undefined == rsp.status) ? 'bad' : rsp.status;
    var msg = (undefined == rsp.msg) ? 'There was a problem!' : rsp.msg;
    $('#top-container .responding.active').remove();
    $('#top-container .submitting').hide();
    $('#top-container .responding')
      .clone()
      .addClass('active ' + status)
      .html(msg)
      .show()
      .insertAfter('.responding');
    setTimeout('$(".responding.active").fadeOut(4000)', 1900);  
  });

  
</script>


</body>
</html>
