<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Online portfolio service for tattoo shops and artists</title>
  <%= stylesheet_link_tag "global", "admin" %>
  <%= javascript_include_tag "jquery-1.4.2.min", "admin/jquery-ui.min" %>   
  <%= javascript_include_tag "uploadify/swfobject", "uploadify/jquery.uploadify.v2.1.0.js", :cache => "uploadify" %>   
  <%= javascript_include_tag "admin/addon", "facebox/facebox", "jquery.json-2.1", "admin/init", :cache => "admin" %>   
  
</head>
<body>
  <div id="wrapper">

    <table class="top-bar">
      <tr>
        <td style="width:250px">
          <ul class="admin-links">
            <li><%= link_to 'Account', account_path %></li>
            <li><%= link_to 'View Public Profile', shop_path(@shop), :target => '_blank' %></li>
            <li><%= link_to 'Logout', '/user_sessions/destroy' %></li>
          </ul>        
        </td>
        <td class="status">
          <div class="submitting" style="display:none">Submitting..</div>
          <div class="responding"></div>
        </td>
        <td class="super-trash" style="width:100px; text-align:center;">Trashcan</td>
      </tr>
    </table> 
        

     
    <ul class="main-tabs">
      <li><a href="#tattoos" class="active" rel="tab-tattoos">Tattoo Profiles</a></li>
      <li><a href="#artists" rel="tab-artists">Artist Profiles</a></li>
      <li><a href="#shop" rel="tab-shop">Shop Profile</a></li>
      <li><a href="#help" rel="tab-help">[help]</a></li>
    </ul> 

    <div id="top-container"></div>  
        
    <div id="content_out">
      <div id="content">
        <%= yield %>
        <br/ style="clear:both"> 
      </div>
    </div>
   
    <div id="footer">
  		<p>&copy; 2010 Tastyink.com</p>
    </div>
  </div> 

  <!-- the workspace -->
  <div id="the-workspace" class="workspace-wrapper">
    <div class="buttons" style="float:right">
      <a href="#" class="save-profile positive">Save Profile</a>
    </div>
    <h5 style="margin:0">Image Album - Drag new images from your image manager into your album.</h5>
    <div class="working-assets">&#160;</div>
    <div class="upload-note">
      <b>*Haven't uploaded images?</b> Use the bottom orange "Upload More Images" button to upload images.
    </div>
    <div class="working-profile">&#160;</div>
    <a href="#" class="show-details">Show Details</a>
    <div class="working-details">&#160;</div>
  </div>
  
  <!-- the asset panel -->  
  <div class="asset-panel">
    <div class="actions"> 
      <a href="#" class="toggle hide">[hide]</a>
      <a href="#image" class="show">Image Manager</a>
      <a href="#upload" class="show upload">Upload More Images</a>
    </div> 
    <div class="content-window-wrapper"> 
      <div class="content-window">

        <div id="upload-tab" class="asset-content" style="display:block">
          <%= render :file => 'assets/new', :locals => { :asset => Asset.new }  %>
        </div>
        
        <div id="image-tab" class="asset-content">
          <ul class="asset-actions">
            <li><%= link_to 'Refresh', assets_path, :class => 'refresh-assets' %></li>
          </ul>

          <ul class="assets-wrapper" class="selectable">
            &#160;
          </ul>
        </div>
 
      </div>
      
    </div>
  </div>

  <%- session_key_name = ActionController::Base.session_options[:key] -%>   
  <script type="text/javascript">
    function tattoosTemplate(t){return '<%= admin_tattoos_template %>'};
    function artistsTemplate(a){return '<%= admin_artists_template %>'};
    function assetsWorkTemplate(a){return '<%= admin_working_template %>'};
    function assetsReTemplate(a){return '<%= admin_resource_template %>'};
    $(document).ready(function(){
      $('a[rel*=facebox]').facebox();  
      $(document).trigger('draggableAssets');
      $(document).trigger('draggableProfiles');
      $(document).trigger('superTrash');
      $('#asset_data').uploadify({
        'uploader'    : '/javascripts/uploadify/uploadify.swf',
        'script'      : '/assets/create',
        'multi'       : true,
        'cancelImg'   : '/images/cancel.png',
        'buttonText'  : 'Select Images',
        'queueID'     : 'queue-container',
        'fileExt'     : '*.jpg;*.jpeg;*.png;*.gif;*.bmp;*.JPG;*.JPEG;*.PNG;*.GIF;*.BMP',
        'fileDesc'    : '*.jpg;*.jpeg;*.png;*.gif;*.bmp;',
		    'scriptData'  : {
		      '<%= session_key_name %>' : encodeURIComponent('<%= u cookies[session_key_name] %>'),
		      'authenticity_token'      : encodeURIComponent('<%= u form_authenticity_token if protect_against_forgery? %>')
		    },
		    onSelectOnce : function(e, data){
		      if(0 < data.fileCount)
		        $('#upload_submit').show();
		    },
      	onComplete : function(event, queueID, fileObj, rsp, data){
      	  rsp = $.evalJSON(rsp);
      	  if('good' == rsp.status)
      	    $('table.upload-report td.good').html(++qtyGood).effect("highlight", {}, 1000);
      	  else
      	    $('table.upload-report td.bad').html(++qtyBad).effect("highlight", {}, 1000);
      	},
      	onAllComplete : function(e, data){
      	  $('div.upload-info h5 span').html('[Finished!]').effect("highlight", {}, 1000);
      	  $('#upload_submit').hide();
      	  $('div.upload-info').effect("highlight", {}, 5000);
      	  $('a.refresh-assets').click();
      	},      	
        onError : function(event, queueID, fileObj, errorObj){ 
          //console.log(errorObj);
        },
      });
      
      $('#upload_submit').click(function(e){
        if(0 == $('#queue-container .uploadifyQueueItem:first').length){
          alert('add images to queue');
          return false;
        }
        qtyGood = 0;
        qtyBad  = 0;
        $('#asset_data').uploadifyUpload();
        $(e.target).hide();
        $('div.upload-info h5 span').html('[Uploading...]').effect("highlight", {}, 1000);
        return false;
      });
      $('#asset_data').click(function(){
        return false;
      });
      
      $('ul.main-tabs li a:first').click();
      $('a.refresh-tattoos').click();
      toggleImagePane('open');
      $('a.refresh-assets').click();      
    });
  </script>
</body>
</html>
