<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Tastyink Online portfolio service for tattoo shops and artists.</title>
  <%= stylesheet_link_tag "facebook" %>
  <%= javascript_include_tag "jquery-1.4.2.min", 'addon' %>

  <script type="text/javascript">
  
  </script>    
</head>
<body>

  <div id="fb-container">
    <%= yield %>
  </div>

<script type="text/javascript">

// setup assets
  assetUrl = 'http://localhost:3000/system/datas/';
  function shopTemplate(s){return '<%= js_shop_template %>'};
  function artistTemplate(a){return '<%= js_artist_template %>'};
  function tattooTemplate(t, a){return '<%= js_tattoo_template %>'};
  function tattoosTemplate(t){return '<%= js_tattoos_template %>'};

// binds
  $(document).bind('tstml.crop',function(e, data){

  }); 
     
// activate tab navigation
  $('ul.main-tabs li a').click(function(){
    $('div.tab-content').hide();
    $('ul.main-tabs li a').removeClass('active');
    $(this).addClass('active');
    $('div#'+ $(this).attr('rel')).show();
    return false;
  });
  $('ul.main-tabs li a:first').click();

// toggle the top shop info on all pages.
  $('a.toggle-shop').click(function(){
    $('.shop-show').toggle();
    return false;
  });

// delegate gallery environment
  $('body').click($.delegate({
  
   // display shop profile
    'a.do-shop' : function(e){
      $('div.gallery-full').html('<b>LOADING...</b>');
      $.get(e.target.href +'.json', function(rsp) {
       // var img = new Image;
        //var src = "http://localhost:3000/data/"+ rsp.shop.id +".jpg";
        //img.src = src;
        $('div.gallery-full').html(shopTemplate(rsp.shop));
      });
      return false;    
    },

   // display artist profile
    'a.do-artist' : function(e){
      $('div.gallery-body').html('<b>LOADING...</b>');
      $.get(e.target.href +'.json', function(rsp) {
        //var img = new Image;
        //var src = "http://localhost:3000/system/datas/"+ rsp.artist.assets[0].id  + "/thumb/" + rsp.artist.assets[0].data_file_name;
        //img.src = src;
        
        $('div.gallery-full').html(artistTemplate(rsp.artist));
      });
      return false;    
    },
    
   // display tattoo profile (for gallery)
    'div.gallery-scroller a' : function(e){
      $('div.gallery-scroller a').removeClass('active');
      $(e.target).addClass('active');
      
      $('div.gallery-full').html('<b>LOADING...</b>');
      $.get(e.target.href +'.json', function(rsp) {
        var img = new Image;
        var src = assetUrl + rsp.tattoo.assets[0].id +'/gallery/'+ rsp.tattoo.assets[0].data_file_name ;
        img.src = src;
        $('div.gallery-full').html(tattooTemplate(rsp.tattoo, rsp.tattoo.artist));
      });
      return false;
    },
    // helper so tattoo thumb images can delegate.
      'div.gallery-scroller a img' : function(e){
        $(e.target).parent('a').click();
        return false;
      },
    
   // display artist tattoos gallery
    'a.do-artist-tattoos' : function(e){
      $('ul.artists-list li a').removeClass('active');
      var rel = $(e.target).attr('rel');
      $('ul.artists-list li a[rel='+ rel +']').addClass('active');
      
      $('div.gallery-scroller').html('<b>LOADING...</b>');
      $.get(e.target.href +'.json', function(rsp) {
        //var img = new Image;
        //var src = assetUrl + rsp.artist.id +".jpg";
        //img.src = src;
        $('div.gallery-scroller').empty();
        $.each(rsp, function(){
          //NOTE: should filter out tattoos with no images server side.
          if (this.tattoo.assets.length <= 0) return;
          $('div.gallery-scroller')
            .append(tattoosTemplate(this.tattoo));
        });
      });
      
      // load artist or shop profile
      if(rel)
        $('span.hooks a.do-artist')
          .attr('href', '<%= artists_path %>/' + rel)
          .click();
      else
        $('span.hooks a.do-shop').click();
      return false;    
    }
      
   }));
   
  // overload artist tab links to load gallery
  $('#tab-artists .artist-each a.do-artist').click(function(){
    $('ul.main-tabs li a:first').click();
  });

  //$.evalJSON();
</script>


</body>
</html>
