<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Online portfolio service for tattoo shops and artists.</title>
  <%= stylesheet_link_tag "global", "shops", "skin" %>
  <%= javascript_include_tag "jquery-1.4.2.min",  "jquery.jcarousel" %>   
</head>
<body>

  <div id="wrapper">
  	<div id="header">
    </div>

    <div style="padding-left:20px;">
      <ul class="main-tabs">
        <li><a href="#gallery" class="active" rel="tab-gallery">Gallery</a></li>
        <li><a href="#artists" rel="tab-artists">Artist Profiles</a></li>
        <li><a href="#artists" rel="tab-info">Hours | Directions | Contact</a></li>
      </ul>
    </div>

    <div id="top-container">
      <%= yield :top %>
    </div>   
        
    <div id="content_out" >
      <div id="content">

        <!-- Gallery tab -->
        <div id="tab-gallery" class="tab-content">
          <%= yield %>
        </div>
                
        <!-- Artists tab -->
        <div id="tab-artists" class="tab-content">
          <%= render :partial => @shop.artists %>
        </div>
        
        <!-- content tab -->
        <div id="tab-info" class="tab-content">
          <div class="shop-show">
            <%= render :partial => @shop %>
          </div>
        </div>
        
      </div>
    </div>
   
    <div id="footer">
  		<p>&copy; 2010 Tastyink.com</p>
    </div>
    
  </div> 
  
  <!-- give javascript functions something to hook onto -->
  <span class="hooks" style="display:none">
    <%= link_to 'artists', artists_path , :class => 'do-artist' %>
    <%= link_to 'Shop Profile', @shop, :class => 'do-shop' %>
  </span>
  <!-- end -->
  

<script type="text/javascript">
// setup assets
  assetUrl = '/system/datas/';
  function shopTemplate(s){return '<%= js_shop_template %>'};
  function artistTemplate(a){return '<%= js_artist_template %>'};
  function tattooTemplate(t, a){return '<%= js_tattoo_template %>'};
  function tattoosTemplate(t){return '<%= js_tattoos_template %>'};

/* Event delegation*/
  jQuery.delegate = function(rules) {return function(e) { var target = $(e.target); for (var selector in rules) if (target.is(selector)) return rules[selector].apply(this, $.makeArray(arguments));}}

// populate the main window
  function tastyMain(type, url){
    $('div.gallery-full').html('<div class="loading">Loading...</div>');
    $.get(url +'.json', function(rsp){
      switch(type){
        case 'shops':
          var data = shopTemplate(rsp.shop);
          var assets = rsp.shop.assets;
        break;
        case 'artists':
          var data = artistTemplate(rsp.artist);
          var assets = rsp.artist.assets;
        break;        
        case 'tattoos':
          var data = tattooTemplate(rsp.tattoo, rsp.tattoo.artist);
          var assets = rsp.tattoo.assets;
        break;        
      }
      $('div.gallery-full').html(data);
      
      // load thumb assets.
      var tinys = '';
      for (var i = 0; i < assets.length; i++){
        tinys += '<img src="/system/datas/' + assets[i].id +'/thumb/'+ assets[i].data_file_name +'" >';
      }
      $('div.gallery-full span#assets').html(tinys);
    });
  }
   
     
// activate tab navigation
  $('ul.main-tabs li a').click(function(){
    $('div.tab-content').hide();
    $('ul.main-tabs li a').removeClass('active');
    $(this).addClass('active');
    $('div#'+ $(this).attr('rel')).show();
    return false;
  });
  $('ul.main-tabs li a:first').click();


// delegate gallery environment
  $('body').click($.delegate({

   // iterate through tattoo pics.
    'span#assets img' : function(e){
       var src = $(e.target).attr('src').replace('/thumb/','/gallery/');
       $('div.gallery-images').html('<img src="' + src + '" >');
       return false;
    }, 
      
   // display shop profile
    'a.do-shop' : function(e){
      tastyMain('shops', e.target.href);
      return false;    
    },
 
   // display artist profile
    'a.do-artist' : function(e){
      tastyMain('artists', e.target.href);
      return false;    
    },
    
   // display tattoo profile (for gallery)
    'div.gallery-scroller a' : function(e){
      $('div.gallery-scroller a').removeClass('active');
      $(e.target).addClass('active');
      tastyMain('tattoos', e.target.href);
      return false;
    },
    // helper so tattoo thumb images can delegate.
      'div.gallery-scroller a img' : function(e){
        $(e.target).parent('a').click();
        return false;
      },
    
    
   // display artist tattoos gallery
    'a.do-artist-tattoos' : function(e){
      $('ul#mycarousel').html('<div class="loading white">Loading...</div>');
      $('ul.artists-list li a').removeClass('active');
      var rel = $(e.target).attr('rel');
      $('ul.artists-list li a[rel='+ rel +']').addClass('active');
      
      $.get(e.target.href +'.json', function(rsp){
        var gallery = $('#mycarousel').data('jcarousel');
        gallery.reset();
        gallery.size(rsp.length);
        for (var i = 1; i <= rsp.length; i++) {
          if (rsp[i-1].tattoo.assets.length <= 0) continue;
          gallery.add(i, tattoosTemplate(rsp[i-1].tattoo));
        }
      });
       
      // load artist or shop profile
      if(rel)
        $('span.hooks a.do-artist').attr('href', '<%= artists_path %>/' + rel).click();
      else
        $('span.hooks a.do-shop').click();
      return false;    
    },
 
   // toggle details box
    'a.toggle-details' : function(e){
      $('div.gallery-body').toggle();
      return false;
    }
         
   }));
   
  // overload artist tab links to load gallery
  $('#tab-artists .artist-each a.do-artist').click(function(){
    $('ul.main-tabs li a:first').click();
  });

  // init
  $(document).ready(function() {
      $('#mycarousel').jcarousel({
          size: <%= @shop.tattoos.count %>
      }); 
  });


</script>

</body>
</html>
